@charset "utf-8";

ul{width: 300px;float:left;}
    .menu-item{ border: 2px solid red; height: 50px; overflow: hidden;
    box-sizing: border-box; border-bottom: none; }
    .menu-item:last-child{border-bottom: 2px solid red;}
    .contents{
      height: 500px; margin-top:10px; width: calc(100% - 300px - 10px);
      box-sizing: border-box; border: 2px solid skyblue; float: right;}